@media (min-width: 1440px) {
    body {
      padding-left: 248px;
    }
  
    .mobile-burger {
      display: none;
    }
  
    .box-main {
      display: block;
    }
  
    .header_menu {
      display: none;
    }
  
    .swipper-prices_for_services {
      display: none;
    }
  
    .image {
      margin-bottom: 40px;
      width: 532px;
      margin-top: 24px;
      margin-right: 32px;
    }
  
    .navig {
      flex-wrap: wrap;
      padding-top: 8px;
    }
  
    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .main-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      align-content: center;
    }
  
    .main-buttons__button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border-color: transparent;
      border-radius: 50%;
      font-weight: 600;
      font-size: 16px;
      margin-left: 20px;
    }
  
    .main-buttons__link {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .main-buttons__link {
      color: $webkit;
      margin-right: 10px;
    }
  
    .main-buttons__link:active {
      color: $webkit;
    }
  
    .main-buttons__link:visited {
      color: $webkit;
    }
  
    .text-2 {
      -webkit-line-clamp: 4;
    }
  
    .main-swipper {
      padding: 24px 32px;
    }
  
    .swipper {
      gap: 16px 32px;
    }
  
    .swipper__button {
      height: 72px;
      width: 240px;
    }
  
    .box-main {
      max-width: 320px;
      margin-bottom: auto;
      font-weight: medium;
      position: fixed;
  
      top: 0;
      left: 0;
      overflow-x: hidden;
    }
  
    .box {
      min-height: 800px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: $box-rgb;
      box-shadow: 16px 0px 52px 0px $box-shadow;
    }
  
    .header_menu__item {
      padding: 18px 24px 30px 24px;
    }
  
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
  
    .menu_item__logo {
      padding-right: 120px;
    }
  
    .header_button {
      height: 40px;
      width: 40px;
      background-color: transparent;
      border-color: transparent;
      border-radius: 50%;
    }
  
    .box-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .main-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: auto;
    }
  
    .nav {
      position: relative;
      display: inline-block;
      opacity: 0.9;
      transition: 0.3s;
    }
  
    .nav_item {
      position: relative;
      padding: 16px 0px 16px 24px;
      font-size: 16px;
    }
  
    .nav_item__content:focus::before {
      color: $hover;
      content: "";
      position: absolute;
      width: 4px;
      height: 32px;
      background-color: $accent;
      top: 10px;
      left: 0px;
      display: block;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  
    .nav_item__content:focus {
      color: $hover;
    }
  
    .icon {
      display: flex;
      padding-left: 24px;
      padding-bottom: 16px;
    }
  
    .icon_item {
      padding-right: 16px;
    }
  
    .icon_item__contact {
      height: 40px;
      width: 40px;
      background-color: transparent;
      border-color: transparent;
      border-radius: 50%;
    }
  
    .email_telephone {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 68px;
      padding-top: 16px;
      padding-left: 24px;
    }
  
    .email {
      padding-bottom: 12px;
      font-size: 16px;
    }
  
    .telephone {
      padding-bottom: 40px;
      font-size: 24px;
      font-weight: bold;
    }
  
    .language {
      display: flex;
      padding-left: 24px;
      font-size: 16px;
      padding-top: 40px;
      padding-bottom: 32px;
    }
  
    .language__link {
      padding-right: 7px;
    }
  
    .language__link:focus {
      color: $hover;
    }

    .text-1 {
        color: $webkit;
        padding: 24px 16px 0px 16px;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        height: 45px;
        overflow: hidden;
      }
      
      .text-2 {
        color: $webkit;
        padding: 16px 16px 16px 16px;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        height: 45px;
        overflow: hidden;
      }
  
    #slide {
      width: 240px;
      height: 160px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  
    .go__hover {
      padding-top: 84px;
    }
  
    .text-over {
      background-color: $background-color;
    }
  
    .text-over_footer {
      max-width: 421px;
      padding: 32px 0px 16px 30px;
    }
  
    .button-over_footer {
      background-color: $background-color;
      border: none;
      padding-bottom: 50px;
      padding-left: 30px;
    }
  
    .button-Line {
      padding-left: 8px;
    }
  
    footer {
      padding-top: 32px;
      padding-bottom: 21px;
      background-color: $background-color;
    }
  
    .footer-main {
      display: flex;
      align-content: center;
      justify-content: space-around;
      align-items: center;
    }
  
    .footer-main a {
      font-size: 14px;
    }
  
    .footer-main__right {
      text-align: right;
    }
  
    .prices__table {
      display: table;
      width: calc(100% - 60px);
      margin-right: auto;
      font-size: 14px;
      border-collapse: collapse;
    }
  
    .prices__table thead {
      font-weight: 700;
      color: $hover;
      text-align: left;
    }
  
    .prices__table tbody {
      background-color: $white;
      border-left: 16px solid $white;
      border-right: 16px solid $white;
      border-radius: 6px;
  
      display: table-row-group;
    }
  
    .prices__table tbody .prices__t-row {
      border-bottom: 1px solid $line;
    }
  
    .prices__t-cell {
      padding-top: 23px;
      padding-left: 1px;
      padding-bottom: 23px;
    }
  
    .prices__btn {
      margin-left: auto;
    }
  
    .order-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 120px;
      max-width: 150px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 12px;
      font-weight: 900;
      line-height: 24px;
      letter-spacing: -0.15px;
      text-transform: uppercase;
      color: $white;
      background-color: $pink;
      border: none;
      border-radius: 16px;
    }
  
    .main-callback {
      width: 440px;
      padding-top: 32px;
    }
  
    .main-callback__title {
      margin-top: 0;
      margin-bottom: 24px;
      padding-left: 30px;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      border-left: 4px solid $accent;
    }
  
    .callback-form {
      margin-left: 32px;
      margin-right: 32px;
    }
  
    .callback-form textarea,
    .callback-form input {
      width: 100%;
      padding: 12px 10px;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #b5b6bc;
      border: 2px solid $line;
      border-radius: 8px;
    }
  
    .callback-form__text {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $hover;
    }
  
    .callback-form a {
      text-decoration: none;
      color: $pink;
    }
  
    .callback-form__button {
      margin-left: auto;
    }
  
    .callback-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 120px;
      max-width: 150px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 12px;
      font-weight: 900;
      line-height: 24px;
      text-transform: uppercase;
      color: $white;
      background-color: $pink;
      border: none;
      border-radius: 16px;
    }
  
    .main-feedback {
      width: 440px;
      padding-top: 32px;
    }
  
    .main-feedback__title {
      margin-top: 0;
      margin-bottom: 24px;
      padding-left: 30px;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      border-left: 4px solid $accent;
    }
  
    .feedback-form {
      margin-left: 32px;
      margin-right: 32px;
    }
  
    .feedback-form textarea,
    .feedback-form input {
      width: 100%;
      padding: 12px 10px;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $black;
      border: 2px solid $line;
      border-radius: 8px;
    }
  
    .feedback-form__message {
      resize: initial;
    }
  
    .feedback-form__text {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $hover;
    }
  
    .feedback-form a {
      text-decoration: none;
      color: $pink;
    }
  
    .feedback-form__button {
      margin-left: auto;
    }
  
    .order-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 120px;
      max-width: 150px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 12px;
      font-weight: 900;
      line-height: 24px;
      letter-spacing: -0.15px;
      text-transform: uppercase;
      color: $white;
      background-color: $pink;
      border: none;
      border-radius: 16px;
      transition: box-shadow 500ms;
    }
  
    .mobile-callback {
      position: fixed;
      width: 320px;
      min-width: 320px;
      height: 100vh;
      border: 1px solid transparent;
      background-color: $white;
      top: -1500px;
      right: 0;
      bottom: 0;
      z-index: 2000;
      transition: left 0.3s linear;
    }
  
    .show-modal-call {
      top: 0;
    }
  
    .mobile-feedback {
      position: fixed;
      width: 320px;
      min-width: 320px;
      height: 100vh;
      border: 1px solid transparent;
      background-color: $white;
      top: -1500px;
      right: 0;
      bottom: 0;
      z-index: 2000;
      transition: left 0.3s linear;
    }
  
    .show-modal-call {
      top: 0;
    }
  }
  