$webkit: #1b1c21;
$hover: #7e7e82;
$white: #fff;
$black: #000;
$background-color: #f8f8f8;
$accent: #41f6d7;
$navig-border: #b8ffec;
$line: #eaeaea;
$pink: #FF3E79;
$box-rgb: rgb(255, 255, 255);
$box-shadow: rgba(14, 24, 80, 0.2);
$callback: #b5b6bc;
$overlay: rgba(23, 23, 67, 0.2);
$border-top: #d9fff5;